.idea/**
apollo.i*
*.swp
*.swo
target/**
config.properties
src/main/webapp/config.properties
src/main/webapp/config.xml
src/main/webapp/canned_comments.xml
config.xml
blat_config.xml
src/main/webapp/jbrowse/
jbrowse-github
log4j2.json
log4j2-test.json
tmp
hibernate.xml
version.jsp
update_client.sh
canned_comments.xml
resources/ncbi-taxa_ids.txt
resources/junk
*.iml
*.ipr
*.iws
/target
/.classpath
/.project
/.settings
/bin/
**/.DS_Store
src/org/bbop/phylo/util/GetAncestorsTest.java

